/* styles.css */
.about-banner {
  margin-top: 40px;
  margin-bottom: 80px;
  background-image: url("../public/team.jpg");
background-size:cover;
background-repeat: no-repeat;
/* background-attachment: fixed; */
background-position: center;
  /*background-color: #f8e71c;*/
  padding: 180px;
  text-align: center;
  color:#fff;
  height: 400px;
  text-decoration: underline;

}

.register-banner {
  margin-top: 40px;
  margin-bottom: 80px;
  background-image: url("../public/new.jpg");
background-size:cover;
background-repeat: no-repeat;
/* background-attachment: fixed; */
background-position: center;
  /*background-color: #f8e71c;*/
  padding: 180px;
  text-align: center;
  color:#fff;
  height: 400px;
  text-decoration: underline;

}

.analytics-banner {
  margin-top: 40px;
  margin-bottom: 80px;
  background-image: url("../public/analytics2.jpg");
background-size:cover;
background-repeat: no-repeat;
/* background-attachment: fixed; */
background-position: center;
  /*background-color: #f8e71c;*/
  padding: 180px;
  text-align: center;
  color:#fff;
  height: 400px;
  text-decoration: underline;

}
.customer-banner {
  margin-top: 40px;
  margin-bottom: 80px;
  background-image: url("../public/black3.jpg");
background-size:cover;
background-repeat: no-repeat;
/* background-attachment: fixed; */
background-position: center;
  /*background-color: #f8e71c;*/
  padding: 180px;
  text-align: center;
  color:#fff;
  height: 400px;
  text-decoration: underline;

}

.welcome-banner {
    margin-top: 40px;
    margin-bottom: 80px;
    background-image: url("../public/computer.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
    /*background-color: #f8e71c;*/
    padding: 180px;
    text-align: center;
    color:#fff;
    height: 400px;

  }
  .section {
    padding: 100px;
    text-align: center;
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    margin: 20px;
    font-size: 30px; /* Increase font size */
    border: 2px solid transparent; /* Add border for interactivity */
    border-width: 5px;
    border-radius: 25px;
    transition: border-color 0.3s ease-in-out; /* Add transition effect */
    cursor: pointer;
    position: relative;
    /* .background-blur { */
      /* position: absolute;
      width: 100%;
      height: 100%; */
      /* background-image: url('path/to/your/background-image.jpg'); */
       /* Adjust the blur amount as needed */
      /* z-index: -1; */
    /* } */
  }
  .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    z-index: 1; /* Bring the heading above the background-blur */
  }
  .text{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:brown;
  text-align: center;
  font-size: 24px;
  z-index: 1
  }

  .background-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url('path/to/your/background-image.jpg'); */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1;
  }
  .background-container {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust as needed */
    /* background-image: url('path/to/your/background-image.jpg'); */
    background-size: cover;
    background-position: center;
  }
  .section:hover {
    font-size: 40px;
    border-color: beige; /* Change border color on hover */
    cursor: pointer;
  }

  .card:hover {
    font-size: 1.2em;
    border-color: beige; /* Change border color on hover */
    cursor: pointer;
  }


/* .view-section,
.analytics-section,
.create-section,
.cancel-section {
    padding: 100px;
    text-align: center;
    /* size: 20px; */
    /* color:black; */
    /* margin: 10px 0px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* min-height: 800px; Add a minimum height to prevent collapsing */
    /* min-width : 200px; */
    /* border-radius: 15px; */
    /* border-color: black; */
  /* }  */
  
/* 
  .view-section,
.analytics-section,
.create-section,
.cancel-section {
  padding: 40px;
  text-align: center;
  color: #fff;
  /* margin: 20px; Add margin to all sides */
  /* min-height: 300px; */
/* } */

  .view {
    /* margin: 20px; */
    /* background-image: url("../public/create2.jpg"); */
    background-image: url("../public/create.jpg");
  /* background-size:cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center; */
    /* background-color: #34c759; */
    /* padding: 100px; */
    /* text-align: center; */
    /* color: #fff; */
  }
  
  .analytics {
    background-image: url("../public/analytics.jpg");
    /* background-image: url("../public/black4.jpg"); */
  /* background-size:cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center; */
    /* background-color: #007aff; */
    /* padding: 100px;
    text-align: center;
    color: #fff; */
  }
  
  .create {
    background-image: url("../public/creditCard.jpg");
    /* background-image: url("../public/black3.jpg"); */
  /* background-size:cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
    /* background-color: #ff9500;
    padding: 100px;
    text-align: center;
    color: #fff; */
  }
  
  .cancel{
    /* background-image: url("../public/green.jpg"); */
    background-image: url("../public/green2.jpg");
    /* background-size:cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
    /* background-color: #ff2d55; */
    /* padding: 100px;
    text-align: center;
    color: #fff; */
  }
  .col-md-6 {
    margin-bottom: 0px;
    /* margin-right: 2px; */
  }
  